JWT_SECRET="a_very_strong_and_long_secret_key_for_local_dev_at_least_32_chars"
JWT_ISSUER="my-local-game-app"
JWT_AUDIENCE="local-game-clients"

DB_USER="user"
DB_PASSWORD="password"
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="the_hub_project_db_dev_data"

SERVER_HOST=192.168.1.9
SERVER_PORT=9090

FE_PORT=9091