# JWT Configuration
JWT_SECRET="a_very_strong_and_long_secret_key_for_local_dev_at_least_32_chars"
JWT_ISSUER="my-local-game-app"
JWT_AUDIENCE="local-game-clients"

# Database Configuration (for Ktor app to connect to local Dockerized DB)
DB_NAME="the_hub_project_db_dev_data"
DB_USER="user"
DB_PASSWORD="password"
DB_URL="jdbc:postgresql://localhost:5432/the_hub_project_db_dev_data"

# Optional: For Ktor server itself if you want to override default port/host
PORT=9090
HOST="0.0.0.0"